.main-grid-table-aom {
  background-color: #02567a;
}

table {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.testbtn {
  margin-right: 0;
  margin-bottom: 0;
}

.rows_count {
  margin-top: 1.5%;
  color: #ffffff;
}
h4.why-aom-title-content {
  color: #ffffff;
}
.aom-title-content .why-aom-title-content {
  font-size: 35px;
  padding: 20px;
  text-align: center;
  background-color: #00dbde;
  background-image: linear-gradient(
    90deg,
    #00dbde 0%,
    #1385ff 33%,
    #2b2bfb 66%
  );
  box-shadow: inset 0 8px rgb(238, 194, 0);
  border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
}

.aom-title-content .why-aom-title-content {
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
}

.aom-title-content .why-aom-subtitle-content {
  margin-bottom: 5%;
  font-size: 21px;
  text-align: justify;
  color: #ffffff;
}

tr:nth-child(odd) {
  background: rgb(255, 255, 255);
}

table tr:first-child:hover,
table tr:hover {
  background: #73bae0;
}

table tr:first-child {
  background-color: rgb(187, 247, 249);
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button.w3-bar-item {
  color: rgb(255, 255, 255);
  background: #3987a3;
  font-size: 22px;
  margin-left: 0;
  margin-right: 0;
}

button.w3-bar-item:button.w3-bar-item:hover {
  background: #ffffff;
  color: #000000;
}

.content-why-aom {
  background-color: #3987a3;
  padding: 20px;
  font-size: 20px;
  color: #ffffff;
}

table tr {
  background-color: #ffffff;
  color: #000000;
  font-size: 17px;
}

.title-content-why a.block-content-why {
  font-size: 18px;
  color: #1611ad;
}

a.block-content-why {
  text-align: center;
}

.aom-why-color-table {
  color: #000000;
}

.aom-why-color-table {
  text-align: center;
}

.content-why-aom {
  text-align: center;
}

.running,
.scheduled,
.expired,
.closed {
  font-size: 11px;
  text-align: center;
  margin: 3px 0 0 0;
  padding: 4px 5px 3px 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}
.running {
  color: #147823;
  color: #fff;
  margin-top: 10%;
}

.scheduled {
  background: #ff7b0f;
  color: #fff;
  text-align: center;
}

tr.down-table-why-aom {
  background: #cbfdf5;
}

tr.down-table-why-aos {
  background: #ffffff;
}

tr.down-table-why-aos:hover {
  background: #73bae0;
}

.aom-why-color-table {
  padding: 15px;
}

.title-content-why {
  padding: 15px;
}

@media screen and (max-width: 1100px) {
  .running {
    text-align: right;
    margin: 0;
    font-size: 16px;
  }

  .scheduled-aom {
    text-align: right;
  }

  div.scheduled {
    text-align: right;
    margin: 0;
    font-size: 16px;
  }

  .aom-why-color-table {
    font-size: 19px;
  }

  .block-content-why {
    font-size: 21px;
    text-align: right;
  }

  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    display: block;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  td.aom-why-color-table {
    text-align: right;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    color: #000000;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
